
<%= form_for(activity) do |f| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :pages %>
    <%= f.text_area :pages %>
  </div>

  <div class="field">
    <%= f.label :setting %>
    <%= f.text_area :setting %>
  </div>

  <div class="actions">
    <%= f.submit '保存', id: 'submit' %>
  </div>
<% end %>

