<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @activity.pages %>
</p>

<p>
  <strong>Setting:</strong>
  <%= @activity.setting %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
